<!DOCTYPE html>
<html ng-csp ng-app="Baroque">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1">
    <title>Baroque - Elysion</title>
    <link rel="stylesheet" href="angular-csp.css">
    <script src="lib/oauth.js"></script>
    <script src="lib/sha1.js"></script>
    <script src="lib/underscore-min.js"></script>
    <script src="lib/localforage.js"></script>
    <script src="lib/jquery-2.1.3.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib_elysion/Storage.js"></script>
    <script src="twitter4js.js"></script>
    <script src="index.js"></script>
</head>
<body>
    <div ng-controller="main">
        <div ng-show="enableApi == false">
            pin:<input ng-model="pin" />
            <button ng-click="fetchAccessToken()">OK</button>
        </div>
        <div ng-show="enableApi">
            <input ng-model="post" />
            <ul>
                <li></li>
            </ul>
        </div>
    </div>
</body>
</html>